/* 프론트엔드스쿨 8기 */
/* 회고1조 손삼열 */

body {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	background: rgb(237, 237, 237);
}

.section {
	background: white;
}

.section-01 {
	position: relative;
	width: 502px;
	height: 310px;
	border: 1px solid #aaa;
}

.logo-01 {
	position: absolute;
	left: 73px;
	top: 75px;
}

.text-01 {
	position: absolute;
	width: 200px;
	height: 37px;
	left: 28px;
	top: 155px;
	margin: 0;
	text-align: center;
	line-height: 37px;
}

.product-01 {
	position: absolute;
	left: 252px;
	top: 20px;
}

.button-01 {
	position: absolute;
	width: 42px;
	height: 42px;
	background-image: url(./images/button1.svg);
	left: 20px;
	bottom: 20px;
	border: 0;
}

.container {
	display: flex;
	flex-flow: row nowrap;
	margin-top: 10px;
}

.section-02,
.section-03 {
	position: relative;
	width: 243px;
	height: 310px;
	border: 1px solid #aaa;
	margin: 0 7px;
}

.logo-02 {
	position: absolute;
	left: 64px;
	top: 14px;
}

.text-02 {
	position: absolute;
	width: 200px;
	height: 27px;
	left: 21px;
	top: 66px;
	margin: 0;
	text-align: center;
	flex-shrink: 0;
}

.product-02 {
	position: absolute;
	left: 23px;
	top: 100px;
}

.button-02 {
	position: absolute;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 12px 18px 13px 20px;
	gap: 16px;
	left: 20px;
	bottom: 20px;
	background: var(--blue-600, #0074e9);
	border: 0;
	color: white;
}

.logo-03 {
	position: absolute;
	left: 64px;
	top: 14px;
}

.text-03 {
	position: absolute;
	width: 200px;
	height: 27px;
	left: 21px;
	top: 66px;
	margin: 0;
	text-align: center;
	flex-shrink: 0;
}

.product-03 {
	position: absolute;
	left: 23px;
	top: 100px;
}

.button-03 {
	position: absolute;
	width: 42px;
	height: 42px;
	background-image: url(./images/button1.svg);
	left: 20px;
	bottom: 20px;
	border: 0;
}
