body {
	display: flex;
	justify-content: center;
}

.section-01 {
	position: relative;
	width: 502px;
	height: 310px;
	border: 1px solid #aaa;
}

.logo-01 {
	position: absolute;
	left: 73px;
	top: 75px;
}

.text-01 {
	position: absolute;
	text-align: center;
	margin: 0;
	width: 200px;
	height: 37px;
	line-height: 37px;
	left: 28px;
	top: 155px;
}

.product-01 {
	position: absolute;
	left: 252px;
	top: 20px;
}

.button-01 {
	position: absolute;
	width: 42px;
	height: 42px;
	background-image: url(./images/button1.svg);
	left: 20px;
	bottom: 20px;
	border: 0;
}
