<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>버튼 컴포넌트</title>
		<link
			rel="stylesheet"
			href="./index.css" />
		<link
			rel="stylesheet"
			href="./../../../css/style.css" />
	</head>
	<body>
		<div class="component-container">
			<div class="button-rounded-container">
				<button class="button button-rounded">버튼</button>
				<button class="button button-rounded is--disabled">버튼</button>
			</div>
			<div class="button-normal-container">
				<div class="button-normal-left-container">
					<button class="button button-normal button-normal-left">
						<img
							src="./../../../images/svg/Arrow (Stroke).svg"
							alt="" />버튼
					</button>
					<button class="button button-normal button-normal-left is--disabled">
						<img
							src="./../../../images/svg/Arrow (Stroke).svg"
							alt="" />버튼
					</button>
				</div>
				<div class="button-normal-right-container">
					<button class="button button-normal button-normal-right">
						<img
							src="./../../../images/svg/Arrow (Stroke)-1.svg"
							alt="" />버튼
					</button>
					<button class="button button-normal button-normal-right is--disabled">
						<img
							src="./../../../images/svg/Arrow (Stroke)-1.svg"
							alt="" />버튼
					</button>
				</div>
			</div>
		</div>
	</body>
</html>
