<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>로고 컴포넌트</title>
		<link
			rel="stylesheet"
			href="./index.css" />
		<link
			rel="stylesheet"
			href="./../../../css/font.css" />
		<link
			rel="stylesheet"
			href="./../../../css/style.css" />
	</head>
	<body>
		<div class="component-container">
			<a
				href="/"
				class="logo logo-red">
				<img
					src="./../../../images/svg/type=Red, outline=false.svg"
					alt="넷플릭스 홈으로"
			/></a>
			<a
				href="/"
				class="logo logo-red-outline">
				<img
					src="./../../../images/svg/type=Red, outline=true.svg"
					alt="넷플릭스 홈으로"
			/></a>
			<a
				href="/"
				class="logo logo-white">
				<img
					src="./../../../images/svg/type=White, outline=false.svg"
					alt="넷플릭스 홈으로"
			/></a>
			<a
				href="/"
				class="logo logo-white-outline">
				<img
					src="./../../../images/svg/type=White, outline=true.svg"
					alt="넷플릭스 홈으로"
			/></a>
		</div>
	</body>
</html>
